


/*//////////////////////// General ////////////////////////*/
@font-face {
    font-family: 'Comfortaa';
    src: url('/resources/Other/Comfortaa-Regular.ttf') format('truetype');
}

:root { /* Variables */
    
    --light_black: #191919;

    --dark_gray: #808080;
    --mid_gray: #C4C4C4;
    --light_gray: #FFFFFF;

    --dark_blue: #222A36;
    --light_blue: #676CDB;
}
body {
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--light_black);
    color: var(--light_gray);
    font-family: ;
}

/*//////////////////////// Intro ////////////////////////*/
.intro_container {
    background-color: red;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
}

/*//////////////////////// Links ////////////////////////*/
.my_links{

}

/*//////////////////////// Projects ////////////////////////*/
.projects_title {
    color: white;
    font-size: 10vw;
    text-align: center;
    padding: 0.5em;
}
.projects_container {
    /* Necesito que lo máximo que se muestre por fila sean cuatro proyectos */
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto; /* Centrar el contenedor horizontalmente */

}
.project_element {
    
    margin: 2em;
    flex: 0;
    display: flex;
    flex-direction: column;
}
.project_element_image {
    background-color: yellow;
    width: 10em;
    height: 10em;
    width: 10em;
}
.project_element_title {
background-color: #676CDB;
}
.project_element_description {
background-color: aqua;
}
.project_element_note {
background-color: beige;
}


/*//////////////////////// Stack ////////////////////////*/
.stack_container {
    background-color: rgba(128, 128, 128, 0.3);
    
    margin: 0 auto; /* Esto centrará horizontalmente el contenedor en la ventana, indica que se agreguen márgenes iguales a izquierda y derecha. */
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples filas */
    justify-content: space-between;
    
    padding-left: 100px;
    padding-right: 100px;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.stackImage {
    padding: 2em;

    width: 4em;
    height: 4em;
}
.my_links {
    background-color: rgb(143, 211, 131);
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
}

/*//////////////////////// Credits ////////////////////////*/
.credits_container {
    font-size: 0.8em;
    text-align: center;
    color: white;
}

/*//////////////////////// Pruebas ////////////////////////*/
.bocadillo {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Ajusta el margen izquierdo para centrar el bocadillo */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .contenedor:hover .bocadillo {
    visibility: visible;
    opacity: 1;
  }





