/*//////////////////////// General ////////////////////////*/
@font-face {
    font-family: 'Comfortaa';
    src: url('/resources/Other/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Milker';
    src: url('/resources/Other/Milker.otf') format('truetype');
}

:root {
    /* Variables */

    --light_black: #191919;

    --dark_gray: #808080;
    --mid_gray: #C4C4C4;
    --light_gray: #e4e4e4;

    --dark_blue: #222A36;
    --light_blue: #676CDB;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--light_black);
    color: var(--light_gray);
    font-family: ;
}

/*//////////////////////// Carteles ////////////////////////*/
.intro_container {
    width: 100%;
    padding-top: 15rem;
    background-color: var(--light_gray);

    display: flex;
    flex-direction: column;
}

.actualizado {
    width: 100%;
    color: var(--light_gray);
    text-align: right;
    align-items: center;
    padding-right: 0.5rem;
    padding-bottom: 0.8rem;
}

.alejandro_terriza {
    font-family: 'Milker', sans-serif;
    color: var(--light_gray);
    -webkit-text-stroke: 0.1rem var(--light_black);


    transform: scale(1, 0.8);
    margin-top: -2rem;
    
    text-align: center;
    font-size: 5rem;
}

.lo_que_soy {
    font-family: 'Milker', sans-serif;
    font-size: 1rem;

    color: var(--light_gray);
    -webkit-text-stroke: 0.05rem var(--light_black);

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;


    width: 100%;
    transform: scale(1, 0.8);
}

.proyectos_title {
    font-family: 'Milker', sans-serif;
    font-size: 5rem;
    color: transparent;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    transform: scale(1, 0.8);

    -webkit-text-stroke: 0.1rem white;
}


/*//////////////////////// Formación ////////////////////////*/

.formacion_title_container {
    width: 100%;
}

.formacion_title {
    font-family: 'Milker', sans-serif;
    font-size: 3rem;
    color: transparent;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    transform: scale(1, 0.8);

    -webkit-text-stroke: 0.1rem white;
}

/*.formacion_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}*/

.formacion_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Esto permitirá que los elementos se envuelvan a una nueva fila */
    justify-content: space-between;
    flex-direction: row; /* Por defecto es row, pero es bueno especificarlo para mayor claridad */
}

.formacion_label {
    background-color: rgba(255, 255, 255, 0.519);
    border-radius: 0.3rem;
    color: black;
    padding: 0.5rem;
    margin: 1rem 0.2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*//////////////////////// Links ////////////////////////*/
.my_links {

    width: 100%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
}

.myButton {
    font-family: 'Comfortaa', sans-serif;
    padding: 0.7rem 1rem;
    margin: 0.7rem;

    color: white;
    background-color: #8f8f8f;
    border: 0px;
    border-radius: 0.5rem;
}

.myButton:hover {
    background-color: #525252;
    cursor: pointer;
}

/*//////////////////////// Projects ////////////////////////*/
.my_projects_title {
    color: white;
    font-size: 10vw;

    padding: 0.5em;

    text-align: center;
    justify-content: center;
    display: flex;

}

.projects_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
    align-items: center;
}

.project_element_container {
    margin: 1rem 0px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.project_element_title {
    color: black;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.573);
    border-radius: 0.3em;
    margin-bottom: 0.3rem;
    padding: 0.8rem;
}

.project_element_title a {
    color: white;
}

.project_element_image {
    
    width: 10em;
    height: 10em;
    width: 10em;
    border-radius: 0.5rem;
}

.project_element_description {
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.573);
    border-radius: 0.3em;
    padding: 1em;
    width: 20vw;
    /* Sólo en landscape */
}

.project_element_stack {
    font-size: 0.7rem;
}

.project_element_note {
    font-size: 0.7rem;
}


/*//////////////////////// Stack ////////////////////////*/
.stack_container {
    background-color: rgba(128, 128, 128, 0.3);

    margin: 0 auto;
    /* Esto centrará horizontalmente el contenedor en la ventana, indica que se agreguen márgenes iguales a izquierda y derecha. */
    display: flex;
    flex-wrap: wrap;
    /* Permitir que los elementos se envuelvan en múltiples filas */
    justify-content: space-between;

    padding-left: 100px;
    padding-right: 100px;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.stackImage {
    /*padding: 2em;*/

    width: 3em;
    height: 3em;
}

/*//////////////////////// Credits ////////////////////////*/
.credits_container {
    font-size: 0.8em;
    text-align: center;
    color: rgba(255, 255, 255, 0.697);
}
